$main_width:100%;
$second_width:1142px;
$width828:828px;
$width262:262px;
$background_grey:#8D8D8D;
$text_color_grey:#93a1a7;
$text_color_black:black;
$text_color_white:#fff;
$color_Orange:#f7941d;
@mixin but_blog{
	margin-top:30px;
		padding:10px 27px;
		background:#29C2E1;
		border:none;
		border-radius:23px;
		color:$text_color_white;
		font-size: 14px;
		text-transform: uppercase;

		&:hover{
			background:darken(#29C2E1, 10%);
		}
}
@mixin img_blog{
	width:828px;
	height:334px;
	background:#8D8D8D;
	margin-bottom: 40px;
}
@mixin h_blog{
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 18px;
}
@mixin p_blog{
	font-size: 15px;
	text-transform: uppercase;
}
@mixin float_r{
	float:right;}

@mixin float_l{
	float:left;}

@mixin center {
	width:$second_width;
	margin:0 auto;
}
.right{float:right;}

.left{float:left;}

.clear{clear:both;}

.inline{display:inline-block;}

body{
	font-family: 'Open Sans', sans-serif;

}


/*wrap*/
#wrap{
	width:$main_width;
}
/*header*/
#header{
	background:#E5EEF0;

	.top_screen{
		width:$second_width;
		@include center;
		padding: 15px 0;
		color:$text_color_grey;

			i{
				font-size:20px;
			}
			h5{
				font-size: 14px;
				margin-right: 65px;
			}

			p{
				text-transform: uppercase;
				font-size:13px;
			}

	}
}
/*head_logo*/
#head_logo{
	@include center;
	padding:20px 0;

	.navi{
		padding:13px 0;

		li{
			float:left;
			

			a{
				text-decoration: none;
				color:$text_color_grey;
				padding:10px 20px;
				border-radius: 23px;
				font-size:14px;

				&:hover{
					background:#29C2E1;
					color:#fff;
				}
				i{
					padding-left:2px;
				}
			}
		}
	}
}
/*baner*/
#baner{

	.baner_img{
		width:$main_width;
		height: 310px;
		background:$background_grey;
		padding-top:120px;
		color:white;

		h1{
			font-size:48px;
			font-weight: bold;
			padding-bottom:20px;
		}
		p{
			font-size:14px;
			text-transform: uppercase;
		}
	}
}
//////////////////////////blog section
#blog{
	@include center;
	margin-top:100px;
	margin-bottom:100px;
}
/*content sol teref*/
/*content*/
.content{
	width:$width828;
}
//blog_head-contentin icindedi,amma element cox olacagi ucun bucur ayiriram
.blog_head{

	.image{
		@include img_blog;	
	}
	.blog_name{
		margin-bottom: 40px;

		h1{
			@include h_blog;
		}
		p{
			@include p_blog;

			span{
				color:$color_Orange;
			}
		}
	}
	.blog_info{

		p{
			font-size: 14px;
			line-height: 20px;
		}

	}
	button{
		@include but_blog;
	}
}
/*karusel*/
.karusel{
	.image{
		@include img_blog;
	}
	.k-name{
		margin-bottom: 40px;

		h1{
			@include h_blog;
		}
	}

}
/*menubar bu sehifenin sag terefidi*/
.menubar{
	width:$width262;

	input[type=text]{
		width:100%;
		height:43px;
		border-top:1px solid #e5eef0;
		padding-left:18px;
	}
	a{
		padding:15px 17px;
		border-left:none;
	    position: relative;
	    left: 85%;
	    bottom: 30px;

	    i{
	    	color:$text_color_black;

	    }
	}
	.categories{
		h3{
			margin-top:50px;
			margin-bottom:30px;
			font-size: 20px;
		}
		ul{

			li{
				padding-bottom:26px;
				font-size: 13px;
				text-transform:uppercase;
				&:first-child{
					color:$color_Orange;
				}
			}
		}
	}
}
//popular menubarin icinde
.popular{
	
	h3{
		font-size: 14px;
		text-transform: uppercase;
		font-weight: bold;
	}	
	.popular_info{
		margin-top: 30px;
		.pop_img{
			width:67px;
			height: 67px;
			background:#8D8D8D;
		}
		.pop_comment{
			width:145px;
			margin-top: 13px;
			margin-right: 20px;

			h5{
				font-size: 13px;
				text-transform: uppercase;
				font-weight: bold;
				margin-bottom: 14px;
			}
			p{

				span{
					color:$color_Orange;
				}
			}
		}
	}
}
//tags menubarin icinde
.tags{
	height:135px;
	margin-top:67px;
	h3{
		font-size: 20px;
		margin-bottom: 20px;
	}
	button{
		border:none;
		color:white;
		background:#29C2E1;
		padding:15px;
		text-transform: uppercase;
		font-size: 13px;
		margin-right:10px;
		margin-bottom: 10px;

		&:nth-child(3){
		margin-right:0;
		}
		&:nth-child(5){
		margin-right:0;
		}
		&:hover{
			background:darken(#29C2E1, 10%)
		}

	}
	
}
///////////////////////////blog_post section end
/*footer*/
#footer{
	width:$main_width;
	height:100%;
	background:url("../_img/orange.png") no-repeat,url("../_img/blue.png") no-repeat;
	background-position:left top,right 80px;
	background-size:450px 310px;

	.footinfo{
		@include center;
		height: 310px;
		padding-top:70px;
		padding-bottom:80px;
		border-top:1px solid #E5EEF0;
		border-bottom: 1px solid #E5EEF0;

		div {
			@include float_l;
		}

		input[type=text]{
			height: 40px;
		}
		button{
			height: 40px;
			margin-left: -5px;
			background:#29C2E1;
			box-shadow: none;
			border:none;
			color:#fff;
		}

		.footLogo{
			margin-right: 156px;
			}
		div:nth-child(2){
				margin-right: 120px;
		}
		div:nth-child(3){
				margin-right: 110px;
				margin-top: 40px;
		}
		div:nth-child(4){
				margin-right: 65px;
		}
	}
}
.footinfo{

	h5{
		font-weight: bold;
		padding-bottom:28px;
	}
	li,p{
		padding-bottom: 25px;
		color:$text_color_grey;
	}
	span{
		font-weight: bold;
		color: black;
	}
	i{
		color:$text_color_grey;
		margin-right: 15px;
	}
}
.end{
	@include center;
	margin-top:25px;
	margin-bottom:78px;

	h5{
		color:$text_color_grey;
	}	
}