.right {
  float: right; }

.left {
  float: left; }

.clear {
  clear: both; }

.inline {
  display: inline-block; }

body {
  font-family: 'Open Sans', sans-serif; }

/*wrap*/
#wrap {
  width: 100%; }

/*header*/
#header {
  background: #1F2629; }
  #header .top_screen {
    width: 1142px;
    width: 1142px;
    margin: 0 auto;
    padding: 15px 0;
    color: #93a1a7; }
    #header .top_screen h5 {
      font-size: 14px; }
      #header .top_screen h5 span {
        color: #fff; }

/*head_logo*/
#head_logo {
  width: 1142px;
  margin: 0 auto;
  padding: 20px 0; }
  #head_logo .navi {
    padding: 13px 0; }
    #head_logo .navi li {
      float: left; }
      #head_logo .navi li a {
        text-decoration: none;
        color: #93a1a7;
        padding: 10px 20px;
        border-radius: 23px;
        font-size: 14px; }
        #head_logo .navi li a:hover {
          background: #29C2E1;
          color: #fff; }
        #head_logo .navi li a i {
          padding-left: 2px; }

/*baner*/
#baner .baner_img {
  width: 100%;
  height: 750px;
  color: white;
  position: relative; }
  #baner .baner_img img {
    width: 100%;
    height: 100%; }
  #baner .baner_img .baner_text {
    position: absolute;
    bottom: 360px;
    left: 35%; }
    #baner .baner_img .baner_text h1 {
      font-size: 48px;
      font-weight: bold;
      padding-bottom: 20px;
      color: #CDDC39; }
    #baner .baner_img .baner_text p {
      font-size: 14px;
      text-transform: uppercase;
      color: #93a1a7; }
    #baner .baner_img .baner_text button {
      padding: 20px 30px;
      background: #29C2E1;
      border: none;
      border-radius: 5px;
      outline-style: none; }
  #baner .baner_img .btnGroup {
    position: absolute;
    bottom: 200px;
    width: 100%; }
    #baner .baner_img .btnGroup button {
      width: 50px;
      height: 400px;
      background: rgba(156, 39, 176, 0.5);
      border-radius: 5px;
      border: none;
      outline-style: none; }
      #baner .baner_img .btnGroup button:hover {
        background: rgba(100, 25, 113, 0.5); }
      #baner .baner_img .btnGroup button:first-child {
        float: left; }
      #baner .baner_img .btnGroup button:last-child {
        float: right; }

/*we are*/
#we_are {
  width: 1142px;
  margin: 0 auto;
  margin-top: 100px;
  padding-bottom: 100px; }
  #we_are span {
    text-transform: uppercase;
    background: #F7941D;
    color: #fff;
    padding: 1px 5px; }
  #we_are h1 {
    margin-bottom: 40px;
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold; }
  #we_are .we_img {
    width: 560px;
    height: 310px;
    display: inline-block; }
    #we_are .we_img .back {
      width: 40px;
      height: 235px;
      background: #E5EEF0;
      margin-bottom: 35px; }
    #we_are .we_img div:nth-child(2) {
      width: 470px;
      height: 310px;
      background: #93a1a7; }
      #we_are .we_img div:nth-child(2) img {
        width: 100%;
        height: 100%; }
  #we_are .we_text {
    height: 235px;
    width: 555px;
    margin-top: 40px;
    padding-left: 37px; }
    #we_are .we_text p {
      font-size: 14px;
      margin-bottom: 50px;
      line-height: 23px; }
    #we_are .we_text button {
      padding: 15px 20px;
      background: #F7941D;
      border: none;
      color: #fff;
      border-radius: 5px; }

/*featus*/
#features {
  width: 100%;
  padding: 100px 0;
  border-bottom: 1px solid #E5EEF0;
  background: #E5EEF0; }
  #features .feat_child {
    width: 1142px;
    margin: 0 auto; }
    #features .feat_child .featname h1 {
      font-size: 30px;
      font-weight: bold;
      text-transform: uppercase;
      margin-top: 5px; }
    #features .feat_child .featname span {
      font-size: 14px;
      text-transform: uppercase;
      background: #F7941D;
      color: #fff;
      padding: 1px 5px; }
    #features .feat_child div:nth-child(2) {
      margin-left: 13px; }
    #features .feat_child div:nth-child(5) {
      margin-left: 13px; }
    #features .feat_child .infeat {
      margin-top: 65px;
      margin-left: 47px;
      padding-bottom: 65px;
      float: left; }
      #features .feat_child .infeat:nth-child(6) {
        margin-left: 64px; }
      #features .feat_child .infeat h4 {
        font-size: 20px;
        padding-bottom: 15px; }
      #features .feat_child .infeat p {
        font-size: 14px;
        line-height: 20px; }
      #features .feat_child .infeat .featicon {
        float: left; }
      #features .feat_child .infeat .feattext {
        width: 250px;
        height: 95px;
        margin-left: 40px;
        float: left; }

/*happy*/
#happy {
  width: 100%;
  background: #F7941D;
  padding: 100px 0; }
  #happy .inHappy {
    width: 1142px;
    margin: 0 auto; }
    #happy .inHappy .h-head span {
      font-size: 13px;
      background: black;
      color: #fff;
      padding: 1px 5px;
      text-transform: uppercase; }
    #happy .inHappy .h-head h1 {
      font-size: 25px;
      text-transform: uppercase;
      font-weight: bold;
      margin-top: 5px; }
    #happy .inHappy .h-head i {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid #fff;
      padding-top: 15px;
      color: white;
      margin-top: 15px;
      margin-bottom: 25px; }
    #happy .inHappy .h-text {
      width: 900px;
      margin: 0 auto; }
      #happy .inHappy .h-text p {
        font-size: 15px;
        line-height: 20px;
        padding: 0 45px; }
      #happy .inHappy .h-text h1 {
        margin-top: 46px;
        margin-bottom: 30px; }
    #happy .inHappy .hexagon {
      width: 55px;
      height: 37px;
      background: grey;
      position: relative;
      float: right;
      margin: 7px;
      margin-bottom: 28px; }
      #happy .inHappy .hexagon:nth-child(4) {
        right: 33px; }
      #happy .inHappy .hexagon:nth-child(5) {
        right: 35px; }
      #happy .inHappy .hexagon:before {
        content: "";
        position: absolute;
        top: -15px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 27px solid transparent;
        border-right: 27px solid transparent;
        border-bottom: 15px solid grey; }
      #happy .inHappy .hexagon:after {
        content: "";
        position: absolute;
        bottom: -15px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 27px solid transparent;
        border-right: 27px solid transparent;
        border-top: 15px solid grey; }

/*pricing*/
#pricing {
  width: 1142px;
  margin: 0 auto;
  background: #EBEFF2; }
  #pricing .p_info {
    width: 262px;
    height: 390px;
    background: #fff;
    float: left;
    margin-right: 30px; }

/*footer*/
#footer {
  width: 100%;
  height: 100%;
  background: #1F2629; }
  #footer .footinfo {
    width: 1142px;
    margin: 0 auto;
    height: 310px;
    padding-top: 70px;
    padding-bottom: 80px;
    border-top: 1px solid #384145;
    border-bottom: 1px solid #384145; }
    #footer .footinfo div {
      float: left; }
    #footer .footinfo input[type=text] {
      height: 40px;
      background: #1F2629; }
    #footer .footinfo button {
      height: 40px;
      margin-left: -5px;
      background: #F7941D;
      box-shadow: none;
      border: none;
      color: #fff; }
    #footer .footinfo .footLogo {
      margin-right: 156px; }
    #footer .footinfo div:nth-child(2) {
      margin-right: 120px; }
    #footer .footinfo div:nth-child(3) {
      margin-right: 110px;
      margin-top: 40px; }
    #footer .footinfo div:nth-child(4) {
      margin-right: 65px; }

.footinfo h5 {
  font-weight: bold;
  padding-bottom: 28px;
  color: #fff; }
.footinfo li, .footinfo p {
  padding-bottom: 25px;
  color: #93a1a7; }
.footinfo span {
  font-weight: bold;
  color: #fff; }
.footinfo i {
  color: #93a1a7;
  margin-right: 15px; }

.end {
  width: 1142px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 78px; }
  .end h5 {
    color: #93a1a7; }

/*# sourceMappingURL=homePage_two.css.map */
