$main_width:100%;
$second_width:1142px;
$background_grey:#8D8D8D;
$text_color_grey:#93a1a7;
$text_color_black:black;
$text_color_white:#fff;
@mixin float_r{
	float:right;}

@mixin float_l{
	float:left;}

@mixin center {
	width:$second_width;
	margin:0 auto;
}
.right{float:right;}

.left{float:left;}

.clear{clear:both;}

.inline{display:inline-block;}

body{
	font-family: 'Open Sans', sans-serif;

}


/*wrap*/
#wrap{
	width:$main_width;
}
/*header*/
#header{
	background:#1F2629;

	.top_screen{
		width:$second_width;
		@include center;
		padding: 15px 0;
		color:$text_color_grey;

	
			h5{
				font-size: 14px;

				span{
					color:$text_color_white;
				}
			}
	}
}
/*head_logo*/
#head_logo{
	@include center;
	padding:20px 0;

	.navi{
		padding:13px 0;

		li{
			float:left;
			

			a{
				text-decoration: none;
				color:$text_color_grey;
				padding:10px 20px;
				border-radius: 23px;
				font-size:14px;

				&:hover{
					background:#29C2E1;
					color:#fff;
				}
				i{
					padding-left:2px;
				}
			}
		}
	}
}
/*baner*/
#baner{

	.baner_img{
		width:$main_width;
		height: 750px;
		color:white;
		position:relative;

		img{
			width:100%;
			height:100%;
			
		}

		.baner_text{
			position:absolute;
			bottom:360px;
			left:35%;

			h1{
			font-size:48px;
			font-weight: bold;
			padding-bottom:20px;
			color:#CDDC39;
			}
			p{
				font-size:14px;
				text-transform: uppercase;
				color:$text_color_grey;
			}
			button{
				padding:20px 30px;
				background:#29C2E1;
				border:none;
				border-radius:5px;
				outline-style: none;
			}
		}

		.btnGroup{
			position:absolute;
			bottom:200px;
			width:100%;

			button{
				width:50px;
				height:400px;
				background:rgba(156, 39, 176, 0.5);
				border-radius:5px;
				border:none;
				outline-style: none;

				&:hover{
					background:darken(rgba(156, 39, 176, 0.5),15%);
				}

				&:first-child{
					@include float_l;
				}
				&:last-child{
					@include float_r;
				}
			}
		}
	}
}
/*we are*/
#we_are{
	@include center;
	margin-top:100px;
	padding-bottom:100px;

	span{
		text-transform:uppercase;
		background:#F7941D;
		color:$text_color_white;
		padding:1px 5px;
	}
	h1{
		margin-bottom:40px;
	    margin-top: 10px;
		font-size:25px;
		font-weight:bold;
	}

	.we_img{
		width:560px;
		height:310px;
		display: inline-block;

		.back{
			width:40px;
			height:235px;
			background:#E5EEF0;
			margin-bottom:35px;
		}
		div:nth-child(2){
			width:470px;
			height:310px;
			background:$text_color_grey;

			img{
				width:100%;
				height:100%;
			}
		}
		
	}
	.we_text{
		height:235px;
		width:555px;
		margin-top:40px;
		padding-left: 37px;


		p{
			font-size:14px;
			margin-bottom:50px;
			line-height:23px;
		}
		button{
			padding: 15px 20px;
			background:#F7941D;
			border:none;
			color:$text_color_white;
			border-radius:5px;
		}
	}
	
}

/*featus*/
#features{
	width:$main_width;
	padding:100px 0;
	border-bottom:1px solid #E5EEF0;
	background:#E5EEF0;

	.feat_child{
		@include center;

		.featname{
			h1{
				font-size: 30px;
				font-weight: bold;
				text-transform: uppercase;
				margin-top: 5px;
			}
			span{
				font-size: 14px;
				text-transform: uppercase;
				background:#F7941D;
				color:$text_color_white;
				padding:1px 5px;
			}
		}

		div:nth-child(2){
			margin-left: 13px;
		}
		div:nth-child(5){
			margin-left: 13px;
		}

		.infeat{
			margin-top: 65px;
			margin-left: 47px;
			padding-bottom:65px;
			@include float_l;

			&:nth-child(6){
				margin-left:64px;
			}

			h4{
				font-size: 20px;
				padding-bottom:15px;
			}
			p{
				font-size: 14px;
				line-height: 20px
			}

			.featicon{
				@include float_l;
			}

			.feattext{
				width:250px;
				height: 95px;
				margin-left: 40px;
				@include float_l;
			}
		}
	}
}
/*happy*/
#happy{
	width:$main_width;
	background:#F7941D;
	padding:100px 0;

	.inHappy{
		@include center;

		.h-head{
			span{
				font-size:13px;
				background:black;
				color:$text_color_white;
				padding:1px 5px;
				text-transform:uppercase;
			}
			h1{
				font-size:25px;
				text-transform:uppercase;
				font-weight:bold;
				margin-top:5px;
			}
			
			i{
				width:50px;
				height:50px;
				border-radius:50%;
				border:1px solid $text_color_white;
				padding-top:15px;
				color:white;
				margin-top:15px;
				margin-bottom:25px;
			}
		}
		.h-text{
		width:900px;
		margin:0 auto;

			p{
				font-size:15px;
				line-height:20px;
				padding: 0 45px;
			}
			h1{
				margin-top:46px;
				margin-bottom: 30px;

			}
		}
		.hexagon{
			width: 55px;
			height: 37px;
			background: grey;
			position: relative;
			float: right;
   			margin: 7px;
    		margin-bottom: 28px;

    		&:nth-child(4){
    			right:33px;
    		}
    		&:nth-child(5){
    			right:35px;
    		}

			&:before{
				content: "";
				position: absolute;
				top: -15px; 
				left: 0;
				width: 0;
				height: 0;
				border-left: 27px solid transparent;
				border-right: 27px solid transparent;
				border-bottom: 15px solid grey;
			}
			&:after{
				content: "";
				position: absolute;
				bottom: -15px; 
				left: 0;
				width: 0;
				height: 0;
				border-left: 27px solid transparent;
				border-right: 27px solid transparent;
				border-top: 15px solid grey;
			}
			
		}	
	}
}
/*pricing*/
#pricing{
	@include center;
	background:#EBEFF2;

	.p_info{
		width:262px;
		height:390px;
		background:$text_color_white;
		@include float_l;
		margin-right:30px;

	}
}

/*footer*/
#footer{
	width:$main_width;
	height:100%;
	background:#1F2629;

	.footinfo{
		@include center;
		height: 310px;
		padding-top:70px;
		padding-bottom:80px;
		border-top:1px solid #384145;
		border-bottom: 1px solid #384145;

		div {
			@include float_l;
		}

		input[type=text]{
			height: 40px;
			background:#1F2629;
		}
		button{
			height: 40px;
			margin-left: -5px;
			background:#F7941D;
			box-shadow: none;
			border:none;
			color:#fff;
		}

		.footLogo{
			margin-right: 156px;
			}
		div:nth-child(2){
				margin-right: 120px;
		}
		div:nth-child(3){
				margin-right: 110px;
				margin-top: 40px;
		}
		div:nth-child(4){
				margin-right: 65px;
		}
	}
}
.footinfo{

	h5{
		font-weight: bold;
		padding-bottom:28px;
		color:$text_color_white;
	}
	li,p{
		padding-bottom: 25px;
		color:$text_color_grey;
	}
	span{
		font-weight: bold;
		color:$text_color_white;
	}
	i{
		color:$text_color_grey;
		margin-right: 15px;
	}
}
.end{
	@include center;
	margin-top:25px;
	margin-bottom:78px;

	h5{
		color:$text_color_grey;
	}	
}