$main_width:100%;
$second_width:1140px;
$background_grey:#8D8D8D;
$text_color_grey:#93a1a7;
$text_color_black:black;
$text_color_white:#fff;
@mixin float_r{
	float:right;}

@mixin float_l{
	float:left;}

@mixin center {
	width:$second_width;
	margin:0 auto;
}
.right{float:right;}

.left{float:left;}

.clear{clear:both;}

.inline{display:inline-block;}


/*wrap*/
#wrap{
	width:$main_width;
}
/*header*/
#header{
	background:#E5EEF0;

	.top_screen{
		width:$second_width;
		@include center;
		padding: 15px 0;
		color:$text_color_grey;

			p{
				text-transform: uppercase;
				font-size:14px;
			}

			p:nth-child(2){
				margin-right: 65px;
			}
	}
}
/*head_logo*/
#head_logo{
	@include center;
	padding:20px 0;

	.navi{
		padding:13px 0;

		li{
			float:left;
			

			a{
				text-decoration: none;
				color:$text_color_grey;
				padding:10px 20px;
				border-radius: 23px;
				font-size:14px;

				&:hover{
					background:#29C2E1;
					color:#fff;
				}
				i{
					padding-left:2px;
				}
			}
		}
	}
}
/*baner*/
#baner{

	.baner_img{
		width:$main_width;
		height: 310px;
		background:$background_grey;
		padding-top:120px;
		color:white;

		h1{
			font-size:48px;
			font-weight: bold;
			padding-bottom:20px;
		}
		p{
			font-size:14px;
			text-transform: uppercase;
		}
	}
}
/*what we are*/
#what_we_are{
	@include center;

	.what_text{
		width:533px;
		height:320px;
		margin-top: 100px;

		h1{
			font-size:30px;
			font-weight: bold;
			text-transform: uppercase;
		}
		h5{
			font-size: 18px;
			text-transform: uppercase;
		}
		p{
			padding-top:43px;
		}
	}
	.what_text2{
		width:535px;
		height:230px;
		margin-top: 190px;
	}
}
/*fun_fuct*/
#fun_fuct{
	width:$second_width;
	@include center;
}
